.type-switch {
    position: relative;
    width: 140px;
    height: 38px;
    float: left;
    margin-right: 5px;
    font-size: 14px;
    color: var(--cs-6-text);
    background-color: var(--cs-6-background);
    border: 0 none;
    border-radius: 19px;
    white-space: nowrap;
    padding: 0;
    line-height: 38px;
    overflow: hidden;
    cursor: pointer;
}

.type-switch.disabled {
    color: var(--cs-disabled);
    background-color: var(--cs-disabled-background);
}

.type-switch-inner {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: calc(200% - 38px);
    transition: left 0.3s;
}

.type-switch-inner::after {
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: calc(50% - 19px);
    top: 0;
    content: "";
    width: 38px;
    height: 38px;
    border-radius: 19px;
    background-color: var(--cs-light-background);
    border: 1px solid var(--cs-light-border);
}

.value2 .type-switch-inner {
    left: calc(-100% + 38px);
}

.type-switch-label {
    box-sizing: border-box;
    display: block;
    width: 50%;
    float: left;
}

.type-switch-label:first-child {
    padding-right: 12px;
}

.type-switch-label:last-child {
    padding-left: 12px;
}

.type-switch-input-wrapper {
    width: 686px;
    max-width: 80vw;
}

.type-switch-input-wrapper::after {
    content: "";
    display: table;
    clear: both;
}

.type-switch-input-inner {
    position: relative;
    float: left;
    width: calc(100% - 145px);
}
