/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article,
:where(#app-root) aside,
:where(#app-root) details,
:where(#app-root) figcaption,
:where(#app-root) figure,
:where(#app-root) footer,
:where(#app-root) header,
:where(#app-root) hgroup,
:where(#app-root) nav,
:where(#app-root) section {
    display: block;
}
:where(#app-root) audio,
:where(#app-root) canvas,
:where(#app-root) video {
    display: inline-block;
}
[hidden] {
    display: none;
} /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
:where(#app-root),
:where(#app-root) div,
:where(#app-root) span,
:where(#app-root) applet,
:where(#app-root) object,
:where(#app-root) iframe,
:where(#app-root) h1,
:where(#app-root) h2,
:where(#app-root) h3,
:where(#app-root) h4,
:where(#app-root) h5,
:where(#app-root) h6,
:where(#app-root) p,
:where(#app-root) blockquote,
:where(#app-root) pre,
:where(#app-root) a,
:where(#app-root) abbr,
:where(#app-root) acronym,
:where(#app-root) address,
:where(#app-root) big,
:where(#app-root) cite,
:where(#app-root) code,
:where(#app-root) del,
:where(#app-root) dfn,
:where(#app-root) em,
:where(#app-root) img,
:where(#app-root) ins,
:where(#app-root) kbd,
:where(#app-root) q,
:where(#app-root) s,
:where(#app-root) samp,
:where(#app-root) small,
:where(#app-root) strike,
:where(#app-root) strong,
:where(#app-root) sub,
:where(#app-root) sup,
:where(#app-root) tt,
:where(#app-root) var,
:where(#app-root) b,
:where(#app-root) u,
:where(#app-root) i,
:where(#app-root) center,
:where(#app-root) dl,
:where(#app-root) dt,
:where(#app-root) dd,
:where(#app-root) ol,
:where(#app-root) ul,
:where(#app-root) li,
:where(#app-root) fieldset,
:where(#app-root) form,
:where(#app-root) label,
:where(#app-root) legend,
:where(#app-root) table,
:where(#app-root) caption,
:where(#app-root) tbody,
:where(#app-root) tfoot,
:where(#app-root) thead,
:where(#app-root) tr,
:where(#app-root) th,
:where(#app-root) td,
:where(#app-root) article,
:where(#app-root) aside,
:where(#app-root) canvas,
:where(#app-root) details,
:where(#app-root) embed,
:where(#app-root) figure,
:where(#app-root) figcaption,
:where(#app-root) footer,
:where(#app-root) header,
:where(#app-root) hgroup,
:where(#app-root) menu,
:where(#app-root) nav,
:where(#app-root) output,
:where(#app-root) ruby,
:where(#app-root) section,
:where(#app-root) summary,
:where(#app-root) time,
:where(#app-root) mark,
:where(#app-root) audio,
:where(#app-root) video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
} /* HTML5 display-role reset for older browsers */
article,
:where(#app-root) aside,
:where(#app-root) details,
:where(#app-root) figcaption,
:where(#app-root) figure,
:where(#app-root) footer,
:where(#app-root) header,
:where(#app-root) hgroup,
:where(#app-root) menu,
:where(#app-root) nav,
:where(#app-root) section {
    display: block;
}
:where(#app-root) {
    line-height: 1;
}
:where(#app-root) ol,
:where(#app-root) ul {
    list-style: none;
}
:where(#app-root) blockquote,
:where(#app-root) q {
    quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
    content: "";
    content: none;
}
:where(#app-root) table {
    border-collapse: collapse;
    border-spacing: 0;
}
:where(#app-root) a {
    text-decoration: none;
    outline: none;
}
::placeholder {
    color: #a9abaa;
    font-size: 14px;
}
