/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article,
#app-root aside,
#app-root details,
#app-root figcaption,
#app-root figure,
#app-root footer,
#app-root header,
#app-root hgroup,
#app-root nav,
#app-root section {
    display: block;
}
#app-root audio,
#app-root canvas,
#app-root video {
    display: inline-block;
}
[hidden] {
    display: none;
} /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
#app-root,
#app-root div,
#app-root span,
#app-root applet,
#app-root object,
#app-root iframe,
#app-root h1,
#app-root h2,
#app-root h3,
#app-root h4,
#app-root h5,
#app-root h6,
#app-root p,
#app-root blockquote,
#app-root pre,
#app-root a,
#app-root abbr,
#app-root acronym,
#app-root address,
#app-root big,
#app-root cite,
#app-root code,
#app-root del,
#app-root dfn,
#app-root em,
#app-root img,
#app-root ins,
#app-root kbd,
#app-root q,
#app-root s,
#app-root samp,
#app-root small,
#app-root strike,
#app-root strong,
#app-root sub,
#app-root sup,
#app-root tt,
#app-root var,
#app-root b,
#app-root u,
#app-root i,
#app-root center,
#app-root dl,
#app-root dt,
#app-root dd,
#app-root ol,
#app-root ul,
#app-root li,
#app-root fieldset,
#app-root form,
#app-root label,
#app-root legend,
#app-root table,
#app-root caption,
#app-root tbody,
#app-root tfoot,
#app-root thead,
#app-root tr,
#app-root th,
#app-root td,
#app-root article,
#app-root aside,
#app-root canvas,
#app-root details,
#app-root embed,
#app-root figure,
#app-root figcaption,
#app-root footer,
#app-root header,
#app-root hgroup,
#app-root menu,
#app-root nav,
#app-root output,
#app-root ruby,
#app-root section,
#app-root summary,
#app-root time,
#app-root mark,
#app-root audio,
#app-root video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
} /* HTML5 display-role reset for older browsers */
article,
#app-root aside,
#app-root details,
#app-root figcaption,
#app-root figure,
#app-root footer,
#app-root header,
#app-root hgroup,
#app-root menu,
#app-root nav,
#app-root section {
    display: block;
}
#app-root {
    line-height: 1;
}
#app-root ol,
#app-root ul {
    list-style: none;
}
#app-root blockquote,
#app-root q {
    quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
    content: "";
    content: none;
}
#app-root table {
    border-collapse: collapse;
    border-spacing: 0;
}
#app-root a {
    text-decoration: none;
    outline: none;
}
::placeholder {
    color: #a9abaa;
    font-size: 14px;
}
